<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rccs.android.rcusnet" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rcus_seal_75w"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rcus_seal_75w"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rccs.android.rcusnet.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.historyActivity"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.MainActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.creedsActivity"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.MainActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.confessionsActivity"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.MainActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.heidelbergActivity"
            android:parentActivityName="com.rccs.android.rcusnet.confessionsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.confessionsActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.belgicActivity"
            android:parentActivityName="com.rccs.android.rcusnet.confessionsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.confessionsActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.canonsActivity"
            android:parentActivityName="com.rccs.android.rcusnet.confessionsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.confessionsActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.westminsterActivity"
            android:parentActivityName="com.rccs.android.rcusnet.confessionsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.confessionsActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.congregationsActivity"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.MainActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.holinessActivity"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.MainActivity"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.reformed"
            android:parentActivityName="com.rccs.android.rcusnet.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.reformed"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.objections"
            android:parentActivityName="com.rccs.android.rcusnet.reformed">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.reformed"/>
        </activity>
        <activity
            android:name="com.rccs.android.rcusnet.attributesActivity"
            android:parentActivityName="com.rccs.android.rcusnet.reformed">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rccs.android.rcusnet.reformed"/>
        </activity>


    </application>

</manifest>